<!DOCTYPE html>
<html lang="tr">

<head>
	<!-- basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="canonical" href="https://www.anketler.info">
	<!-- mobile metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<!-- site metas -->
	<title>Anketler.info - En iyisini seçiyoruz</title>
	<meta name="description" content="2023 Cumhurbaşkanlığı online seçim anketi ve sonuçları, illere göre seçim anketi sonucu, ürün değerlendirme anketleri Anketler.info 'da">
	<meta name="yandex-verification" content="79a0ab49af0cb684"/>
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://www.anketler.info/">
	<meta property="og:locale" content="tr_TR">
	<meta property="og:site_name" content="Anketler.info">
	<meta property="og:title" content="Anketler.info - En iyisini seçiyoruz">
	<meta property="og:description" content="2023 Cumhurbaşkanlığı online seçim anketi ve sonuçları, illere göre seçim anketi sonucu, ürün değerlendirme anketleri Anketler.info 'da">
	<meta property="og:image" content="https://www.anketler.info/images/og-image.jpg">
	<meta property="fb:app_id" content="595646712480664">
	<meta property="fb:pages" content="113982751531362">
	<!-- bootstrap css -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<!-- style css -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- Responsive-->
	<link rel="stylesheet" href="/css/responsive.css">
	<!-- fevicon -->
	<link rel="icon" href="/images/favicon.png" type="image/gif" />
	<!-- Tweaks for older IEs-->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css"> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CQRNLE9FMX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CQRNLE9FMX');
</script>

	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
	<style>
		  .card-deck .card {
      border: none;
  }
	</style>
</head>
<!-- body -->

<body class="main-layout inner_page">
	<!-- loader  -->
	<div class="loader_bg">
		<div class="loader"><img src="images/loading.gif" alt="#" /></div>
	</div>
	<!-- end loader -->

	<!-- header -->
	<%- include("partials/_menu") %>
		<!-- end header inner -->
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2 bg-light">
					<div class="sidebar-left" id="sidebar-left">
					  <a href="https://www.youtube.com/watch?v=hw1BBtUkdzA">
					  <img src="/images/vertical-banner.gif" alt="Vertical Banner" >
					</a>
					</div>
				  </div>

				<div class="col-md-8">

                <div class="col-md-12" style="text-align: center;">
                  <a href="https://www.youtube.com/watch?v=hw1BBtUkdzA" >
                  <img src="/images/banner1.gif" alt="Top Banner">
				  </a>
               </div>        

			   <div class="col-md-12" style="background-color: #f2f2f2; padding: 10px; text-align: center; margin-top: 30px; margin-left: auto; margin-right: auto;">
          <h2 style="font-size: 24px;"><strong><em style="color: #424242;">Öne Çıkan Anketler</em></strong></h2>
        </div>

        <div class="col-md-12" style="margin-bottom: 50px">
          <div id="news-slider" class="owl-carousel" style="margin-top: 0px;">
        <% for (poll of polls) { %>
            <div class="post-slide">
              <div class="post-img">
                <img src="<%= poll.options[0].picture %>" alt="<%= poll.options[0].title %>" style="height:122px; width: 122px">
                <img src="<%= poll.options[1].picture %>" alt="<%= poll.options[1].title %>" style="height:122px; width: 122px">
				<a href="/polls/<%= poll.pollname %>" class="over-layer"><i class="fa fa-link"></i></a>
              </div>
              <div class="post-content">
                <h3 class="post-title" style="text-align: center;">
                  <a href="/polls/<%= poll.pollname %>"><%= poll.pollquestion %></a>
                </h3>
              </div>
            </div>
			<% } %>
          </div>
        </div>

		<!-- <div class="col-md-12" style="text-align: center;">
			<a href="https://www.youtube.com/watch?v=hw1BBtUkdzA" >
				<img src="/images/banner1.gif" alt="Top Banner" style="margin-top: 50px;">
			  </a>
		</div> -->

				</div>
				<div class="col-md-2 bg-light">
					<div class="sidebar-right" id="sidebar-right">
					  <!-- <% if (!user) { %>
					  <a href="/register">
						<% } else { %>
							<a href="/illere-gore-sonuclar">
							<% } %>
					  <img src="/images/illere-gore-secim-anketi-sonucu.jpg" alt="Vertical Banner">
					</a> -->
					</div>
				  </div>
		</div>
		</div>

		<!-- end footer -->
		<%- include("partials/_footer") %>